<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    
    <add key="usd" value="33, 29"/>
    <add key="euro" value="42, 36.2"/>
    <add key="nzd" value="22, 20.35"/>
    <add key="aud" value="28.3, 22.79"/>
    <add key="jpy" value="0.35, 0.255"/>
    <add key="gold" value="1400, 1100"/>
    <add key="taiex" value="0, 6900"/>
    <add key="dowJones" value="20000, 12000"/>
    <add key="cia" value="9, 0"/>

  </appSettings>
</configuration>
